.env
.env.local
backend-laravel/.env
frontend-next/.env.local

node_modules/
frontend-next/node_modules/
vendor/
backend-laravel/vendor/

.next/
frontend-next/.next/
dist/
build/

storage/logs/
backend-laravel/storage/logs/
*.log

!.env.example
!.env.local.example
.tools/
